[user]
	email = FelipeFTN@protonmail.com
	name = FelipeFTN
[core]
	editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[color]
    ui = true
    diff = auto
    pager = true
    status = auto
    branch = auto
    interactive = auto
[pull]
	rebase = true
[init]
	defaultBranch = master
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
