[user]
	email = felipe.tenorio123456@gmail.com
	name = FelipeFTN
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	editor = nvim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[color]
    ui = true
    diff = auto
    pager = true
    status = auto
    branch = auto
    interactive = auto
